/* GLOBAL ROOT */
.root {
    -fx-font-family: 'Segoe UI';
    -fx-background-color: transparent;
}

/* HEADER */
.header {
    -fx-background-color: rgba(255,255,255,0.05);
    -fx-background-radius: 15;
    -fx-border-color: rgba(255,255,255,0.15);
    -fx-border-radius: 15;
}

.header-title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* LOGOUT BUTTON */
.logout-btn {
    -fx-background-color: linear-gradient(to right, #6A5ACD, #00BFFF);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 6 18;
}
.logout-btn:hover {
    -fx-background-color: linear-gradient(to right, #00BFFF, #6A5ACD);
}

/* SIDEBAR */
.sidebar {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255,255,255,0.15);
    -fx-border-width: 1;
    -fx-padding: 20;
    -fx-pref-width: 250;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 5;
}

/* SIDEBAR BUTTONS */
.sidebar-btn {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 14px;
    -fx-background-radius: 12;
    -fx-padding: 8 14;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.sidebar-btn:hover {
    -fx-background-color: rgba(255,255,255,0.20);
    -fx-text-fill: white;
}

/* MAIN CONTENT */
.main-content {
    -fx-background-color: transparent;
}

.welcome-text {
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.sub-text {
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 16px;
}
